/*body {
    background: url(../src/img/space.gif);
    background-size: cover;

}

h1 {
  color: white;
  font-family: 'Audiowide', cursive;
  text-shadow: .04em .1em grey;
  margin-top: 1em;
}

p {
  color: white;
  font-weight: bold;
}*/
