body {
    display: flex;
    background-size: cover;

}

h1 {
  color: white;
  font-family: 'Audiowide', cursive;
  text-shadow: .04em .1em grey;
  margin-top: 1em;
}

p {
  font-weight: bold;
}

.specialText {
  color: red;
  font-size: 2em;
}

#intro {
  display: none;
}

#start {
  display: none;
}

#terminal{
  display: none;
  border: 2px blue solid;
}

#game{
  display: none;
  border: 2px red solid;
  height: 300px;
}

#gameScreen{
  /*display: none;*/
  border: 2px green solid;
  width: inherit;

}

.termLabel{
  list-style: none;
}

.profImg{
  height: 100px;
  width: auto;
}

.messageBox {
  background-color: yellow;
  height: 10em;
}
